@import "./assets/partials/colors";
@import "./assets/partials/reset";
@import "./assets/partials/font";
@import "./assets/partials/button";
@import "./assets/partials/displayFlex-col";

header {
  nav {
    padding: $paddingMargin-small $paddingMargin-big;
    display: flex;
    justify-content: space-between;
    background-color: $color-secondary;

    div {
      img {
        width: 200px;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 30px;
      li {
        list-style: none;
      }
    }
  }
}

main {
  max-width: 1400px;
  margin-inline: auto;
  @extend %dis-F-c;
  justify-content: center;

  div.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: $paddingMargin-big;
    background-color: $color-tertiary;

    div:first-child {
      @extend %dis-F-c;
      justify-content: center;
      align-items: center;
      gap: 10px;

      h1 {
        font-size: $fontSize-big;
      }

      p {
        padding-left: $paddingMargin-small;
      }
      div {
        display: flex;
        gap: 120px;
        margin-top: 15px;

        button {
          @extend %style-button;
        }
      }
    }

    div#img-spiderman {
      width: 25%;
      img {
        width: 100%;
        display: block;
      }
    }
  }

  div.box {
    @extend %dis-F-c;
    gap: 30px;
    margin-top: $paddingMargin-big;
    div.container-cards {
      display: flex;
      justify-content: space-between;

      div.card {
        @extend %dis-F-c;
        width: 20%;
        background-color: white;
        justify-content: space-between;

        div.h3-p {
          padding-block: $paddingMargin-small;
        }

        div.img-nemici {
          img {
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
}
